* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

li, ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0000EE;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .9em;
    color: #333;
    line-height: 1.2;
    padding: 2em;
}

header,
footer {
  width: 30em;
  max-width:100%;
}

main {
  width:  90em;
  max-width: 100%;
}

.projects ul li {
  padding-bottom: .5em;
}

.emoji {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.randomize-button, .reset-button{
  font-size: 1em;
  cursor: pointer;
  border: none;
  background: transparent;
}

.bio {
  padding-bottom: 1em;
}

.contact {
  padding-bottom: 2em;
}

.selected-works {
  padding-bottom: .8em;
}
