* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

li, ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  padding-bottom: .5em;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: .8em;
    color: #333;
    line-height: 1.2;
    padding: 2em;
}

main,
header,
footer {
  width: 30em;
  max-width:100%;
}

.projects ul li {
  padding-bottom: .5em;
}

.tiger {
   font-size: 1.5em;
   padding-bottom: 2em;
}

.bio {
  padding-bottom: 1em;
}

.contact {
  padding-bottom: 2em;
}

.selected-works {
  padding-bottom: .8em;
}
